name: end to end test

on:
  - push
  - pull_request

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: "go.mod"

    - name: Test
      run: ./e2e.bash

    - name: Test websockets
      run: |
        pip install -r e2e-websockets/requirements.txt
        ./e2e-websockets.bash
